<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/coffee">Coffee</a>
            <a class="navbar-brand" href="/roll-dice">Roll Dice</a>
        </div>

    </div>
</nav>
    <h1>Coffee!</h1>
    <h2>What's your favorite roast?</h2>
    <ul>
        <!-- REMEMBER: Links === 'GET' request! -->
        <li><a href="/coffee/dark">Dark Roast</a></li>
        <li><a href="/coffee/medium">Medium Roast</a></li>
        <li><a href="/coffee/light">Light Roast</a></li>
    </ul>

    <h2 th:if="${coffees}">
        <p>You selected [[${roast}]]!</p>
        <ul>
            <li th:each="coffee : ${coffees}">
                <p>[[${coffee.brand}]] [[${coffee.origin}]] [[${coffee.roast}]] roast</p>
            </li>
        </ul>
    </h2>

    <div>
        <h2>Sign up for our newsletter!</h2>
        <form action="/coffee" method="POST">
            <label for="email">Enter your email:</label>
            <!-- Name in the input that you're trying to save MUST match the RequestParam name on the controller PostMapping -->
            <input type="email" name="email" id="email">
            <button type="submit">Sign Up</button>
        </form>

        <h3 th:if="${email}">Thanks for signing up! We'll send the newsletter to [[${email}]].</h3>
    </div>
</body>
</html>