<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>Roll the Dice!</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/coffee">Coffee</a>
            <a class="navbar-brand" href="/roll-dice">Roll Dice</a>
        </div>

    </div>
</nav>
    <h1>Feeling Lucky?</h1>
    
    <h2>If so... Click a link, and roll the dice...</h2>
    <ul>
        <li><a href="/roll-dice/1">1</a></li>
        <li><a href="/roll-dice/2">2</a></li>
        <li><a href="/roll-dice/3">3</a></li>
        <li><a href="/roll-dice/4">4</a></li>
        <li><a href="/roll-dice/5">5</a></li>
        <li><a href="/roll-dice/6">6</a></li>
    </ul>

    <h2 th:if="${n}">

        <h3 th:if="${n.equals(randomNumber)}">
            You guessed correctly!
        </h3>

        <h3 th:if="${!n.equals(randomNumber)}">
            You guessed wrong... The correct number was [[${randomNumber}]]...
        </h3>

    </h2>
</body>
</html>